pbp_data/*.csv filter=lfs diff=lfs merge=lfs -text
created_possession_data/possessions_OHE/*.csv filter=lfs diff=lfs merge=lfs -text
created_possession_data/possessions/*.csv filter=lfs diff=lfs merge=lfs -text
created_possession_data/pbp_with_players/*.csv filter=lfs diff=lfs merge=lfs -text
